@model NZWalk.UI.Models.View_Model.CreateRegionVM
@{
}

<form method="post" >
    <div class="mb-3">
        <label  class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Code</label>
        <input type="text" class="form-control" asp-for="Code" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Image Url</label>
        <input type="text" class="form-control" asp-for="RegionImageUrl" >
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
 
</form>
